@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'schoolbell',cursive;
}
table {
  border-collapse: collapse;
}
td {
  width: 40px;
  height: 40px;
  border: 4px solid #baada0;
  background-color: #ccc0b4;
  text-align: center;
  font-family: 'schoolbell',cursive;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.highlighted {
  background-color: grey;
}
#gameScreen {
  width: 650px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  background-image: url('../images/Forest.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
#top-container {
  width: inherit;
  height: 70px;
}
#game-container {
  flex-grow: 1;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#grid-container {
  display: none;
  max-height: calc(100% - 100px);
  overflow: auto;
}
#wordCount {
  align-self: center;
  position: absolute;
  top: 0px;
  font-family: 'schoolbell',cursive;
  font-size: 24px;
  left: 50%;
  transform: translateX(-50%);
}
#nextDifficultyScreen {
  position: relative;
  width: 650px;
  height: 700px;
  margin: 50px auto;
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  color: black;
}
#nextDifficultyScreen input[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: green; 
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 400px;
  text-decoration: none;
}
#nextDifficultyScreen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/city2.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1; 
}
#nextDifficultyScreen p {
  color: white;
  position: absolute;
  top: 300px;
  left: 50%; 
  transform: translateX(-50%);
  padding: 5px 10px;
  border: none;
  background-color: cornflowerblue; 
  border-radius: 35px;
  text-decoration: none;
  font-size: 25px;
}
.credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: white;
}
#helpButton {
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 60px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px transparent;
  font-family: 'schoolbell',cursive;
  color: white;
  background: rgb(48,77,14);
  background: radial-gradient(circle, rgba(48,77,14,1) 0%, rgba(76,131,14,1) 100%);
  box-shadow: 0 3px 5px black;
  font-size: 30px;
}
#exitButton {
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px transparent;
  font-family: 'schoolbell',cursive;
  color: white;
  background: rgb(117,0,0);
  background: radial-gradient(circle, rgba(117,0,0,1) 0%, rgba(252,70,70,1) 100%);
  box-shadow: 0 3px 5px black;
  font-size: 30px;
}
.button:active {
  transform: translateY(4px);
}
#wordList {
  margin-top: 10px;
  max-height: 400px;
  max-width: 200px;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
#wordList h2 {
  margin-top: 0;
}
#wordListItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#wordListItems li {
  margin-bottom: 5px;
}
#animation-test {
  z-index: 1;
  position: absolute;
  width: 650px;
  height: 700px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
#animation-test img {
  overflow-y: auto;
  position: relative;
  opacity: 0;
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(35px, 45px);
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(20px, 30px);
  }
}
@keyframes fadeIn3 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(15px, 15px);
  }
}
@keyframes fadeIn4 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(10px, 0px);
  }
}
@keyframes fadeIn5 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(5px, -5px);
  }
}
@keyframes fadeIn6 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(40px, -5px);
  }
}
@keyframes fadeIn7 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(30px, 0px);
  }
}
@keyframes fadeIn8 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(25px, 10px);
  }
}
@keyframes fadeIn9 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(20px, 20px);
  }
}
@keyframes fadeIn10 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(15px, 30px);
  }
}
@keyframes fadeIn11 {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-10px, 45px);
  }
}
.animate1 {
  animation: fadeIn1 1s ease 0.5s forwards;
}
.animate2 {
  animation: fadeIn2 1s ease 1s forwards;
}
.animate3 {
  animation: fadeIn3 1s ease 1.5s forwards;
}
.animate4 {
  animation: fadeIn4 1s ease 2s forwards;
}
.animate5 {
  animation: fadeIn5 1s ease 2.5s forwards;
}
.animate6 {
  animation: fadeIn6 1s ease 3s forwards;
}
.animate7 {
  animation: fadeIn7 1s ease 3.5s forwards;
}
.animate8 {
  animation: fadeIn8 1s ease 4s forwards;
}
.animate9 {
  animation: fadeIn9 1s ease 4.5s forwards;
}
.animate10 {
  animation: fadeIn10 1s ease 5s forwards;
}
.animate11 {
  animation: fadeIn11 1s ease 5.5s forwards;
}